<mat-card id="container">
    <mat-tab-group>
        <mat-tab label="Full list">
            <h3>Fully-featured list</h3>
            <p>Implmentation propsal that involves resorting entire list of 25ish songs. Takes a significant amount of time</p>
        </mat-tab>
        <mat-tab label="Short list">
            <h3>Streamlined list</h3>
            <p>Proposal similar to the first but with a streamlined selection process, only selecting top 5 tracks</p>
        </mat-tab>
        <mat-tab label="Quiz">
            <h3>Quiz format</h3>
            <p>Instead of a list, this proposal uses a 15-question quiz, where you rate your feelings about a short snippet of a song</p>
        </mat-tab>
    </mat-tab-group>
</mat-card>